@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name );
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme : true) {
    @if $light-theme {
        background: lighten($color: #000000, $amount: 0);
        color : darken($text-color, 100%);
    }
}

@mixin mobile {
    @media (max-width : $mobile) {
        @content 
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: $accent-color;

    color : $text-color;
}

.main {
    @include flexCenter(row); //mixin
    width: 80%;
    margin:0 auto;

    #{&}__paragraph1 {
        font-weight: weight(regular);
        // font-weight : map-get($font-weights, bold) maping;

        &:hover {
            color : pink;
        }
    }
    #{&}__paragraph2 {
        @extend .main__paragraph1;

        &:hover {
            color: $primary;
        }
    }

    @include mobile {
        flex-direction: column;
    }
}

.light {
    @include theme($light-theme : false); //mixin light theme
}